<% include compents/head.ejs %>

<div id="J_list" class="">

</div>

<nav class="text-center">
    <ul id="pagination" class="pagination pagination-centered">
    </ul>
</nav>

<% include compents/right.ejs %>
<% include compents/indexJS.ejs %>
<% include compents/foot.ejs %>