<!--foot begin-->
<div class="row">
    <!--分隔上下文的元素-->
    <div class="col-md-12">
        <hr>
    </div>
</div>

<div id="foot" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4 text-center">
                <address>
                    <strong>浙江,杭州</strong>
                    <br>
                    QQ:30-500-8389
                    <br>
                    Email:jimersylee@gmail.com
                </address>
            </div>
            <div class="col-md-4 text-center">
                © 2018 jimersylee.com
                <br>
                浙ICP:10000000
            </div>
            <div class="col-md-4 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/jimersylee">Github</a>
                    </li>
                    <li>
                        <a href="https://coding.net/u/code008">Coding.net</a>
                    </li>
                    <li>
                        <a href="http://resume.jimersylee.com">简历</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>


<!--粒子特效相关js开始-->
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>
<!--粒子特效相关js结束-->
</body>
</html>

<!--foot end-->