<!--right begin-->
</div>
<div class="col-md-3">
    <img style="width:100%;height:100%" alt="Bootstrap Image Preview" src="/images/avatar/avatar.png" class="img-rounded text-left"/>
    <hr/>
    <dl class="">
        <dt>
            目前公司
        </dt>
        <dd>
            杭州惠融金融信息服务有限公司
        </dd>
        <dt>
            产品
        </dt>
        <dd>
            <a href="https://www.domi360.com">多米金融</a>
        </dd>
        <dt>
            职位:
        </dt>
        <dd>
            后端开发工程师
        </dd>
        <dt>
            技术栈
        </dt>
        <dd>
            Java,PHP,Go,Python,NodeJS,Html5,JavaScript
            SpringBoot,SpringMVC,ThinkPHP,Laravel
        </dd>
    </dl>
    <hr>
    <h4 class="text-left">
        阅读排行
    </h4>
    <ul id="viewTop">

    </ul>
    <hr>
    <h4 class="text-left">
        文章分类
    </h4>
    <ul>
        <li>
            Java
        </li>
        <li>
            PHP
        </li>
        <li>
            Linux
        </li>
        <li>
            OPS
        </li>
        <li>
            python
        </li>
        <li>
            Go
        </li>
    </ul>
    <hr>
    <h4 class="text-left">
        标签云
    </h4>
    <div class="zzsc-container">
        <div id='tag-cloud'></div>
    </div>


</div>
</div>

</div>


</div>
</div>


<div class="col-md-1">

</div>
</div>


<!--right end-->
